<div class="container m-auto">
  <h2 class="mt-3">Подача объявление</h2>

  <form [formGroup]="form" (submit)="onSubmit()" class="">
    <div class="d-flex flex-column ">

      <div class="row mt-4">
        <label class="col-2 align-items-center">Категория:</label>
        <select
          class="form-control col-3"
          formControlName="category">

          <option value="Персональные компьютеры">Персональные компьютеры</option>
          <option value="Ноутбуки">Ноутбуки</option>
          <option value="Телефоны">Телефоны</option>
          <option value="Планшеты">Планшеты</option>
        </select>
      </div>

      <div class="row mt-4">
        <label class="col-2 align-items-center">Заголовок</label>
        <input type="text"
               class="form-control col-3"
               formControlName="title">
      </div>

      <div class="row mt-4">
        <label class="col-2 align-items-center">Марка</label>
        <input type="text" type="text"
               class="form-control col-3"
               formControlName="mark">
      </div>

      <div class="row mt-4">
        <label class="col-2 align-items-center">Состояние:</label>
        <select type="text" type="text"
                class="form-control col-3"
                formControlName="status">
          <option value="Новый">Новый</option>
          <option value="Б/У">Б/У</option>
        </select>
      </div>

      <div class="row mt-4">
        <label class="form-group col-2 align-items-center">Цена:</label>
        <div>
          <input class="form-control form-width"
                 formControlName="price"
                 type="number">

          <div class="form-group form-check d-flex justify-content-center form-width">
            <label class="mr-3">торг
              <input type="checkbox"
                     formControlName="torg">
            </label>
            <label class="">обмен
              <input type="checkbox" formControlName="obmen" class="">
            </label>
          </div>
        </div>
      </div>


      <div class="row">
        <label class="col-2 align-items-center">Описание:</label>
        <textarea type="text" rows="4"
                  formControlName="description"
                  class="form-control form-control col-3 resize">
      </textarea>
      </div>

      <div class="row mt-4">
        <label class="col-2 align-items-center">Город:</label>
        <select class="form-control col-3"
                formControlName="city"
        >
          <option value="Худжанд">Худжанд</option>
          <option value="Душанбе">Душанбе</option>
          <option value="Чкаловск">Чкаловск</option>
          <option value="Истаравшан">Истаравшан</option>
        </select>
      </div>

      <div class="row mt-4">
        <label class="col-2 align-items-center">Фото:</label>
        <input type="file" class="form-control col-3" (change)="onChange($event)">
        <span class="mt-2 ml-2" *ngIf="fileLoader">Файл загружается...</span>
      </div>

      <div class="mt-3 row">
        <div class="col-3 align-items-center "></div>
        <button class="btn btn-success col-2 ml-8">
          Опубликовать
        </button>
      </div>
    </div>
  </form>
</div>
