<header class="header-bg">
  <div class=" container d-flex justify-content-between py-3">

    <div>
      <a href="/">Logo</a>
    </div>

    <div>
      <span class="fa fa-facebook-square fa-2x col-2"></span>
      <span class="fa fa-twitter-square fa-2x col-2"></span>
      <span class="fa fa-odnoklassniki-square fa-2x col-2"></span>
      <span class="fa fa-instagram fa-2x col-2"></span>
    </div>

    <a routerLink="/new-ad">
      <button class="btn btn-danger">
        <span class="fa fa-plus mr-2"></span>
        Подать объявление
      </button>
    </a>


      <img class="" src="../../../assets/img/google-play.png" alt="">
      <img src="../../../assets/img/app-store.png" alt="">


  </div>
</header>
