<header class="header-bg">
<div class=" container d-flex justify-content-between align-items-center py-3">

  <div routerLink="/">
    <img class="logo-size cursor-pointer" src="../../../assets/img/logo.png" alt="ЛОГО">
  </div>

  <p class="text-secondary p-0 m-0">
    Продовай и покупай быстро!
  </p>

  <span class=" header-text-color title-hover"
        routerLink="/personal-area"
        routerLinkActive="active-link">Личный кабинет</span>

  <span class=" text-decoration-none header-text-color title-hover"
        routerLink="/login" routerLinkActive="active-link">
    Вход и регистрация</span>

  <span class=" text-decoration-none header-text-color "
        routerLink="/favorite" routerLinkActive="active-link">
   <span class="fa fa-star-o fa-2x"></span>
  </span>

  <a routerLink="/new-ad">
  <button class="btn btn-danger">
    <span class="fa fa-plus mr-2"></span>
    Подать объявление
  </button>
  </a>

</div>
</header>
