<header class="header-bg">
<div class=" container d-flex justify-content-between py-3">

  <div>
    <a href="/">Logo</a>
  </div>

  <p class="text-secondary">
    Продовай и покупай быстро!
  </p>

  <span class=" header-text-color title-hover"
        routerLink="/personal-area"
        routerLinkActive="active-link">Личный кабинет</span>

  <span class=" text-decoration-none header-text-color title-hover"
        routerLink="/login" routerLinkActive="active-link">
    Вход и регистрация</span>

  <span class=" text-decoration-none header-text-color "
        routerLink="/favorite" routerLinkActive="active-link">
   <span class="fa fa-star-o fa-2x"></span>
  </span>

  <a routerLink="/new-ad">
  <button class="btn btn-danger">
    <span class="fa fa-plus mr-2"></span>
    Подать объявление
  </button>
  </a>

</div>
</header>
