.header-text-color{
  color: white;
  cursor: pointer;

}
.header-bg{
  background-color: lightseagreen ;

}
.active-link{
  color: #dc3545;
}
.title-hover {
  border-bottom: 2px solid lightseagreen;

  &:hover {
    border-color: white;
  }

}
.logo-size{
  width: 100px;

}
.cursor-pointer{
  cursor: pointer;
}
