.header-text-color{
  color: lightseagreen;
  cursor: pointer;

}
.header-bg{
  background-color: #f5f5f5 ;
}
.active-link{
  color: #dc3545;
}
.title-hover{
  border-bottom: 2px solid #f5f5f5;
  &:hover{
    border-color: lightseagreen;
  }
}

