<header class="header-bg">
<div class=" container d-flex justify-content-between py-3">

  <div>
    <a href="/">Logo</a>
  </div>

  <p class="text-secondary">
    Продовай и покупай быстро!
  </p>

  <span class=" header-text-color"
        routerLink="/personal-area">Личный кабинет</span>

  <span class=" text-decoration-none header-text-color"
        routerLink="/login">Вход и регистрация</span>

  <span class=" text-decoration-none header-text-color " routerLink="/favorite">
   <span class="fa fa-star-o fa-2x favorite-hover"></span>
  </span>

  <a routerLink="/new-ad">
  <button class="btn btn-danger">
    <span class="fa fa-plus mr-2"></span>
    Подать объявление
  </button>
  </a>

</div>
</header>
