<div class="container">

  <section>
    <h1>Имя объявления</h1>
    <span class="text-muted">Худжанд</span>
    <div class="d-flex justify-content-between section-width">
      <span class="pl-0 ">Дата публикации</span>
      <span class=" text-muted">Номер объявления</span>
      <span routerLink="/favorite" class="fa fa-star-o fa-2x text-warning"></span>
    </div>

  </section>

    <div class="d-flex ">

      <div>
      <img class="pic-size mb-3" src="../../../../../assets/img/1.jpg"> <br>

        <p class="mb-3 text-size desc-text">Описание: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos error laboriosam quam. Accusantium autem est laudantium perspiciatis repellendus, reprehenderit repudiandae? </p>
        <div class="mt-4">
          <button class="btn btn-success btn-lg col-5 mr-5 ml-1">
            <span class="fa fa-phone mr-2"></span>
            92 2513413
          </button>

          <button class="btn btn-info btn-lg col-5 ">
            <span class="fa fa-envelope mr-2"></span>
            Отправить SMS
          </button>
        </div>

        <div class="mt-3">
          <button class="btn btn-danger btn-lg col-5 mr-5 ml-1">
            <span class="fa fa-star mr-2"></span>
             В избранные
          </button>

          <button class="btn btn-dark btn-lg col-5">
            <span class="fa fa-share mr-2"></span>
           Поделиться
          </button>
        </div>


      <img class="pic-size mb-3 mt-4" src="../../../../../assets/img/1.jpg">
      <img class="pic-size" src="../../../../../assets/img/1.jpg">
      </div>

      <div>
         <span class="font-weight-bolder text-size mr-4 mb-5">Цена:</span>
        <button class="btn btn-warning btn-lg col-7 mb-3">
          <span class="fa fa-money fa-1x mr-2"></span>
          <b class="text-size">10000 смн</b></button>

        <div class="d-flex flex-column align-items-center border mb-4 pt-3 pb-3">
          <span class="fa fa-user fa-3x"></span>
          <h2>Василий Зайцев</h2>
          <span>дата регистрации на сайте</span><br>
          <span class="text-danger">Пожаловаться на автора!</span>
        </div>

        <div class="d-flex flex-column justify-content-between ">
          <img class="baner-size mb-5 cursor-pointer" src="../../../../../assets/img/baner-5.gif" alt="переход">
          <img class="mb-5 cursor-pointer" src="../../../../../assets/img/baner-3.gif" alt="переход">
          <img class="baner-size mb-5 cursor-pointer" src="../../../../../assets/img/baner-4.png" alt="переход">
          <img class="baner-size mb-5 cursor-pointer" src="../../../../../assets/img/baner-7.png" alt="переход">
          <img class="baner-size mb-5 cursor-pointer" src="../../../../../assets/img/baner-2.png" alt="переход">
          <img class="baner-size cursor-pointer" src="../../../../../assets/img/baner-1.jpg" alt="переход">
        </div>


      </div>

    </div>

  </div>

