<div class="container">


  <div class="d-flex justify-content-between mt-3">
    <h2>Список всех объявлений</h2>

    <button class="btn btn-outline-warning mr-2" routerLink="/admin">Пользователи</button>
    <button class="btn btn-outline-success" routerLink="/admin/ads">Все объявление</button>
  </div>

  <div class="mt-3 ">
    <table class="table table-bordered table-hover">

      <thead>
      <tr>
        <th>ID Объявления</th>
        <th>Имя объявления</th>
        <th>Номер пользователя</th>
        <th>Имя пользователя</th>
        <th>Действие</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let ad of ads$ | async"
          [ngClass]="{'table-success': ad?.adStatus === 1, 'table-danger': ad?.adStatus === 2}">
        <td>{{ad.id}}</td>
        <td>{{ad.title}}</td>
        <td>+992 {{ad.phoneNumber | mask: '(00) 000-00-00'}}</td>
        <td>{{ad.userName}}</td>

        <td>


          <button type="button"
                  class= "btn btn-primary btn-sm mr-2"
                  [routerLink]="'/ad-detail/' + ad.id">
            <span class="fa fa-eye"></span>
          </button>


          <button type="button" class="btn btn-success btn-sm mr-2"
          (click)="approveAd(ad)">
            <span class="fa fa-check"></span>
          </button>


          <button type="button" class="btn btn-danger btn-sm"
          (click)="disapproveAd(ad)">
            <span class="fa fa-close"></span>
          </button>
        </td>


      </tr>
      </tbody>

    </table>

  </div>
</div>
