<div class="d-flex search-background">
<div class="col-12 col-sm-3"></div>
  <div class="input-group col-12 col-sm-5">
    <input type="search" class="form-control col-8" placeholder="Я ищу..." >
    <select class="form-control col-4">
      <option routerLink="/">Все города</option>
      <option routerLink="/">Худжанд</option>
      <option routerLink="/">Душанбе</option>
      <option routerLink="/">Бустон</option>
    </select>
  </div>

  <div routerLink="" class="col-12 col-sm-2">
    <button class="btn btn-warning">
      <span class="fa fa-search mr-2"></span>
      Найти
    </button>
  </div>
<div class="col-12 col-sm-2"></div>
</div>
