<div class="d-flex search-background">
<div class="col-12 col-sm-3"></div>
  <div class="input-group col-12 col-sm-5">
    <input (keyup.enter)="onSearch()"
           [formControl]="searchControl"
           class="form-control col-8"
           placeholder="Я ищу..."
           type="search">
    <select class="form-control col-4">
      <option routerLink="/" *ngFor="let category of categories; let idx = index">{{categories[idx]}}</option>
    </select>
  </div>

  <div class="col-12 col-sm-2">
    <button class="btn btn-warning" (click)="onSearch()">
      <span class="fa fa-search mr-2"></span>
      Найти
    </button>
  </div>
<div class="col-12 col-sm-2"></div>
</div>
