<app-ad-search></app-ad-search>

<div class="container">

  <div class="d-flex justify-content-between">

    <div class="item">
      <div class="circle d-flex justify-content-center align-items-center">
        <span class="fa fa-th-large fa-2x"></span>
      </div>
      <span class="d-block text-center">Все</span>
    </div>

    <div class="item">
      <div class="circle d-flex justify-content-center align-items-center">
        <span class="fa fa-car fa-2x"></span>
      </div>
      <span>Транспорт</span>
    </div>


    <div class="item d-flex flex-column align-items-center">
      <div class="circle d-flex justify-content-center align-items-center">
        <span class="fa fa-building fa-2x"></span>
      </div>
      <span>Недвижимость</span>
    </div>

    <div class="item">
      <div class="circle d-flex justify-content-center align-items-center">
        <span class="fa fa-television fa-2x"></span>
      </div>
      <span>Электроника</span>
    </div>

    <div class="item">
      <div class="circle d-flex justify-content-center align-items-center">
        <span class="fa fa-home fa-2x"></span>
      </div>
      <span>Дом и сад</span>
    </div>


    <div class="item">
      <div class="circle d-flex justify-content-center align-items-center">
        <span class="fa fa-wrench fa-2x"></span>
      </div>
      <span>Услуги</span>
    </div>



    <div class="">
      <div class="circle d-flex justify-content-center align-items-center">
        <span class="fa fa-briefcase fa-2x"></span>
      </div>
      <span>Работа</span>
    </div>

    <div class="">
      <div class="circle d-flex justify-content-center align-items-center">
        <span class="fa fa-user fa-2x"></span>
      </div>
      <span>Личные вещи</span>
    </div>

    <div class="">
      <div class="circle d-flex justify-content-center align-items-center">
        <span class="fa fa-linux fa-2x"></span>
      </div>
      <span>Животные</span>
    </div>

    <div class="">
      <div class="circle d-flex justify-content-center align-items-center">
        <span class="fa fa-bank fa-2x"></span>
      </div>
      <span>Бизнес профили</span>
    </div>

  </div>


  <h2>Новые объявления</h2>
  <div class="row">
    <div class="col">
      <a href="">
        <img src="../../../../../assets/img/1.jpg" alt="">
        <div>
          <h6 class="">Название товара</h6>
          <span>Цена</span>
        </div>

      </a>
    </div>

  </div>

</div>
