.filter-background{
    background-color: lightseagreen;
    padding: 20px 0 20px 0;
}
.baner-size{
  width: 300px;
  height: 150px;
}
.pic-size{
  width: 225px;
  height: 173px;
}

.cursor-pointer{
  cursor: pointer;
}
.star-position{
  color: lightseagreen;
  position: absolute;
  top: 10px;
  right: 30px ;
}

