<div class="container">

  <div class="d-flex justify-content-between mt-3 mb-3">
    <h2>Список зарегистрированных пользователей</h2>

    <button class="btn btn-outline-warning mr-2" routerLink="/admin">Пользователи</button>
    <button class="btn btn-outline-success" routerLink="/admin/ads">Все объявление</button>
  </div>

  <div class="row border justify-content-between p-3 list-user-color mb-3"
       *ngFor="let user of users">
    <h4 class="col-6 text-white">+992 {{user.phoneNumber | mask: '(00) 000-00-00'}}</h4>
    <button class="btn btn-success col-2"
            *ngIf="user.role === 0"
            (click)="changeUserRole(user, 1)">Сделать админом
    </button>
    <button class="btn btn-danger col-2"
            *ngIf="user.role === 1"
            (click)="changeUserRole(user, 0)">Убрать из админа
    </button>
  </div>
</div>
