<div class="container">
  <div class="mb-3 mt-3">
    <h2>Мои объявления</h2>
  </div>

  <div class="d-flex justify-content-around flex-wrap mt-3">
    <div routerLink="/ad-detail"
         class="card cursor-pointer mt-3"
         style="width: 18rem;"
         *ngFor="let ad of ads | async">
      <img src="../../../../../assets/img/1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ad.title}} ({{ad.price}}смн)</h5>
        <p>Lorem ipsum dolor sit amet.</p>
        <p class="card-text text-muted">Опубликовано 11.10.2020, 15:04 </p>
        <div class="d-flex justify-content-between">
          <button routerLink="/" class="btn btn-warning">Изменить</button>
          <button routerLink="/" class="btn btn-danger ">Удалить</button>
        </div>
      </div>
    </div>


  </div>
</div>


