<div class="container">
  <div class="mb-3 mt-3">
    <h2>Мои объявления</h2>
  </div>

  <div class="d-flex justify-content-around flex-wrap mt-3">
    <div class="card cursor-pointer mt-3"
         style="width: 18rem;"
         *ngFor="let ad of ads | async"
         [routerLink]="'/ad-detail/' + ad.id">
      <img src="{{ad.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ad.title}} ({{ad.price}}смн)</h5>
        <p>{{ad.description}}</p>
        <span class="badge badge-danger" *ngIf="ad.adStatus === 2">Отклонено</span>
        <span class="badge badge-success" *ngIf="ad.adStatus === 0">Проверяется</span>
        <p class="card-text text-muted">Опубликовано {{ad.created | date:'M.d.yy, H:mm'}} </p>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" (click)="editAd($event, ad)">Изменить</button>
          <button class="btn btn-danger" (click)="deleteAd(ad)">Удалить</button>
        </div>
      </div>
    </div>


  </div>
</div>


